@import "tailwindcss";

@theme{
  --color-primary: #2a7dcf;
  --color-background-dark: #121920;
  --color-market-up:#ef4444;
  --color-market-down:#3b82f6;
}
body{
  font-family:"Inter", sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.no-scrollbar::-webkit-scrollbar{
  display:none;
}
.no-scrollbar{
  -ms-overflow-style:none;
  scrollbar-width:none;
}
